.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "BIREVA";
  src: url('./fonts/BIREVA.otf');
  
}

@font-face {
  font-family: "X_BAMBI";
  src: url('./fonts/X_BAMBI.TTF');
  
}

@font-face {
  font-family: "Spaced TTF";
  src: url('./fonts/Spaced\ TTF.ttf');
  
}







/* Navbarnya */
.namenya{
  padding-right: 900px;
  font-family: 'BIREVA', sans-serif !important;
  
}
/* End Navbarnya */

/* Regis */

.input{
  margin: 200px;
}

.judulhalaman{
  margin-top: 50px;
  margin-bottom: -120px;
  font-family: 'X_BAMBI', sans-serif !important;
}

.tombol{
  margin-top: 30px;
}



/* END Regis */


/* Profil */
.buttoncard{

  font-family: 'Spaced TTF', sans-serif !important;
}
.buttoncard:hover{
  box-shadow : 0px 0px 10px #dfe2e7d8 !important;

}

/* END Profil */